@font-face {
  font-family: "iconfont"; /* Project id 1930559 */
  src: url('iconfont.woff2?t=1637315957735') format('woff2'),
       url('iconfont.woff?t=1637315957735') format('woff'),
       url('iconfont.ttf?t=1637315957735') format('truetype');
}


[class*='my-icon'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-icon-loadingIcon:before {
  content: "\e756";
}

.my-icon-user-filling:before {
  content: "\e68b";
}

.my-icon-task-filling:before {
  content: "\e68c";
}

.my-icon-home-filling:before {
  content: "\e68d";
}

.my-icon-huidingbu:before {
  content: "\e604";
}

.my-icon-iconfont7tian:before {
  content: "\e609";
}

.my-icon-iconfont15tianwuliyoutuihuo1:before {
  content: "\e60a";
}

.my-icon-iconfontbaoyou1:before {
  content: "\e60b";
}

.my-icon-iconfontkuaixiufuwu1:before {
  content: "\e60d";
}

.my-icon-iconfonticonfontdingwei:before {
  content: "\e621";
}

.my-icon-iconfontkuaixiufuwu11:before {
  content: "\e628";
}

.my-icon-shoujiapp:before {
  content: "\e647";
}

.my-icon-rengongkefu:before {
  content: "\e60c";
}

.my-icon-renwu:before {
  content: "\e601";
}

.my-icon-shizhong:before {
  content: "\e7eb";
}

.my-icon-chongzhi:before {
  content: "\e60f";
}

.my-icon-huanxinbutie:before {
  content: "\e629";
}

.my-icon-shoujiqiaguanli:before {
  content: "\e664";
}

.my-icon-Fnum:before {
  content: "\e600";
}

.my-icon-gouwuchezhengpin:before {
  content: "\e610";
}

.my-icon-qiye:before {
  content: "\e646";
}

.my-icon-close:before {
  content: "\e668";
}

.my-icon-direction-down:before {
  content: "\e66b";
}

.my-icon-eye-close:before {
  content: "\e66f";
}

.my-icon-favorite:before {
  content: "\e670";
}

.my-icon-hide:before {
  content: "\e673";
}

.my-icon-refresh:before {
  content: "\e67b";
}

.my-icon-picture:before {
  content: "\e67c";
}

.my-icon-search:before {
  content: "\e67d";
}

.my-icon-select:before {
  content: "\e67e";
}

.my-icon-unlock:before {
  content: "\e682";
}

.my-icon-user:before {
  content: "\e683";
}

.my-icon-icon-test:before {
  content: "\e655";
}

.my-icon-icon-test1:before {
  content: "\e658";
}

.my-icon-icon-test2:before {
  content: "\e659";
}

.my-icon-icon-test3:before {
  content: "\e65a";
}

.my-icon-icon-test4:before {
  content: "\e65b";
}

.my-icon-icon-test5:before {
  content: "\e65c";
}

.my-icon-icon-test6:before {
  content: "\e65d";
}

.my-icon-icon-test7:before {
  content: "\e65e";
}

.my-icon-icon-test8:before {
  content: "\e65f";
}

.my-icon-code:before {
  content: "\e6f2";
}

.my-icon-copy:before {
  content: "\e6f3";
}

.my-icon-dollar:before {
  content: "\e6f4";
}

.my-icon-data:before {
  content: "\e6f9";
}

.my-icon-play:before {
  content: "\e701";
}

.my-icon-Exportservices:before {
  content: "\e702";
}

.my-icon-sendinquiry:before {
  content: "\e70d";
}

.my-icon-favorites-fill:before {
  content: "\e721";
}

.my-icon-arrow-right:before {
  content: "\e743";
}

.my-icon-arrow-lift:before {
  content: "\e744";
}

.my-icon-browse:before {
  content: "\e745";
}

.my-icon-category:before {
  content: "\e747";
}

